*{
	font-family: Arial;
	padding-top: 0px;
	margin-top: 0px;
}

header
{
	height: 170px;
	width: 100%;
	border: 1px solid rgb(235,235,235);
	
}

#entete-connection
{
	display: inline-block;
	height: 170px;
	width: 130px;
	margin: 0;
	margin-top: 10px;
	vertical-align: top;
}

#logo
{
	height: 170px;
	width: 170px;
	float: left;
	padding-bottom: 3px;
}
#lienLogo
{
	display: inline-block;
	height: 170px;
	width:170px;
	margin: 0;
	padding: 0;
}
header h1
{
	display: inline-block;
	width:60%;
	height: 170px;
	margin: 0;
	vertical-align: middle;
	text-align: center;

}
a{
	text-decoration: none;
}
header div h3
{
	
	color: black;
	border: 1.5px solid limegreen;
	border-radius: 5px;
	height:30px;
	
}
nav{
	height:70px;
}
nav ul{
	text-align: center;
}
nav li{
	display: inline;
	list-style-type: none;
	height: 50px;
}
nav a{
	display: inline-block;	
	text-decoration: none;
	color: black;
	border-right:1px solid limegreen; 
	border-left: 1px solid limegreen;
	padding: 4px; 
	display: inline;
	height:50px;

}



